 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;

 }

 body {
     display: flex;
     justify-content: center;
     margin-top: 90px;
     background-color: rgb(10, 72, 52);

 }

 .container {
     width: 400px;
     height: 600px;
      border-radius: 20px 20px 10px 10px;
     background-color: rgba(12, 12, 12, 0.952);
     border: 2px solid rgba(214, 195, 214,.59);

 }

 .container .screen {
     display: flex;
     justify-content: center;
     direction: rtl;
     margin-top: 40px;

 }

 .input-section .row {
     display: flex;
     justify-content: center;
 }

 .container .screen input {
     height: 120px;
     width: 100%;
     margin: 20px 30px;
     border: none; 
     font-size: xx-large;
      font-weight: 900;
    letter-spacing: 5px;
     border-radius: 7px;
 }

 .input-section .row input {
     width: 50px;
     height: 50px;
     margin: 20px;
     background-color: rgba(85, 131, 91, 0.912);
     border-color: rgb(64, 123, 150);
     border-width: 1px;
     border-radius: 7px;
     font-weight: 900;
 }

 .input-section .row input:hover {
    background-color: green;
     border: 2px solid greenyellow;
 }
 .input-section .row input#clr:hover {
        background-color: red;
        border:2px solid rgba(94, 200, 221, 0.819) ;
 }

 .input-section .row #evl:hover {
    background-color: rgb(33, 158, 171);
 }
 .input-section .row #operator {
    border: 2px solid greenyellow;
    background-color: cyan;
 }
 .input-section .row #evl {
    border: 1px solid  white;
    background-color: rgb(39, 153, 121);
 }

 .input-section .row #clr {
    border: 2px solid rgb(160, 27, 20);
    background-color: rgb(106, 137, 137);
 }